a{
	color: black;
}
.nav-mar-bot{
	margin-bottom: 0px;
}
#carousel-821981{
	margin-top: 50px;
}
.badge-position{
	margin-top:-6px;
}
.logo{
	margin-top: -5px ;
}
.glyphicon-shopping-cart-size{
	font-size: 17px;
}
.index-title-center{
	text-align: center;
}
.commodity-price{
	color: red;
}
.new-recommend{
	margin-top: -20px;
}
.new-recommend-div{
	margin-top: 20px;
}
.zthd-right-ton{
	margin-bottom: 22px;
}
#indexCarousel{
	margin-top: 75px;
}
.qzlp p{
	padding-bottom:20px ;
}
.qzlp a{
	background-color: #EEEEEE;
}
@media screen and (min-width:768px) and (max-width:992px) {
	.qzlp-padding{padding-bottom:20px ;}
}
.index-bottom{
	background-color: #F5F5F5;
	padding-top: 30px;
}
.commodity-list{
	margin-top: 20px;
}
.other-page-magtop{
	margin-top: 40px;
}
.a-bule{
	color:deepskyblue;
}

/*购物车*/
.cart-table .form-control:focus{
    border-color:#ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.cart-table tr td:first-child{
	border-left:solid 1px #DDDDDD ;
}
.cart-table tr td:last-child{
	border-right:solid 1px #DDDDDD ;
}
.cart-table tr:last-child{
	border-bottom:solid 1px #DDDDDD ;
}
.cart-table-sm{
	font-size: 12px;
}
.cart-product-xj{
    background-color: #F5F5F5;
}
.cart-table label{
	margin-bottom: 0px;
	font-weight: normal;
	display: inline;
}
.table tbody tr td{
	vertical-align: middle;
}


/*产品详情*/
#productInfo .form-control:focus{
    border-color:#ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.subImages{
	margin-top: 20px;
}
.info-item{
	margin-top: 20px;
	padding: 0 10px;
}
.p-lab{
	display: inline-block;
	width: 50px;
	color: #999;
}
.p-subtitle{
	color: #c60023;
	line-height: 30px;
	font-size: 15px;
}
.p-price-div{
	padding: 10px;
	background-color: #EEEEEE;
	margin-top: 20px;
}
.p-price{
	font-size: 18px;
	color: #c60023;
}
.p-stock{

}
.p-num{
	width: 110px;
	display: inline-block;
}
.p-btn{
	font-size: 18px;
}
.p-btn button{
	margin-right:30px ;
}
.p-detail{
	margin: 0px;
	padding: 0px;
}
.p-detail image{
	display: block;
}


.carousel-control.left {

	background-image:none;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
	left: auto;
	right: 0;

	background-image:none;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.promotion *{
	margin: 0px;
	padding: 0px;
}
.hot-product-list{
	margin-top:10px ;
}
.hot-product-list h5{
	font-weight: bold;
}

#manageLogin-bki{
	background-image:url("http://img.youngh.cn/managebg.jpg");
}
.manageLogin-mian{
	margin-top: 310px;
	padding: 10px 20px 20px 20px;
	width: 350px;
	background: rgba(213,215,222,0.9);
}
.manageLogin-mian .input-group{
	margin-top: 20px;
	height: 40px;
}
.manageLogin-mian input{
	height: 40px;
}
.manageLogin-mian button{
	width: 100%;
	margin-top: 20px;
}

.manage-head{
	padding: 15px 20px 15px 30px;
	background-color: #1a2732;
	width: 100%;
	height: 70px;
	position: fixed;
	color: #d0d8df;
	z-index: 1000;
}
.manage-head a{
	color: #00a0df;
	font-size: 18px;
}
.manage-head a:hover{
	text-decoration: none;
}
.manage-head span{
	color: #fed189 !important;
	font-size: 26px !important;
}
.manage-body-left{
	margin-top: 70px;
	width: 250px;
	height: 100%;
	position: fixed;
	padding-left: 0px;
	padding-right: 0px;
	color: #d0d8df;
	background-color: #394a59;
}
.manage-body-left .list-group{
	margin-bottom: 0px;
}
.manage-body-left li{
	background-color: #394a59;
}

.manage-body-right {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 70px;
	margin-left: 250px;
	background-color: #D5D7DE;
}
.manage-body-right-title{
	margin-right: 0px;
}